.hero-section {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 0;
  background-color: #c4c4c4;
  font-family: raleway;
  z-index: 5;
  // overflow-y: visible;
}

.right {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-color: black;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 70%;
  img {
    // width: clamp(250px, 80vw, 420px);
    width: clamp(50%, 72%, 100%);
    height: auto;
  }
}

.left {
  min-width: 90%;
  color: black;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.icons {
  a {
    color: black;
  }
}

.icon-container {
  margin-bottom: 1.9rem;
  font-size: 1.6rem;
}

.name {
  margin: 0.5rem 0 0.2rem;
}

.job-title {
  font-weight: bold;
  color: #686868;
}

.hi {
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    height: 100vh;
  }

  .left {
    min-width: 50%;

    flex-direction: column;
    justify-content: start;
    gap: 3rem;
    position: relative;
    padding-left: 2rem;
  }

  .hero-text-container {
    margin: 4rem auto 0;
  }

  .right {
    min-width: 50%;
    clip-path: polygon(26% 0, 100% 0%, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    img {
      height: 90%;
      width: auto;
      object-fit: cover;
      margin-left: 4rem;
    }
  }

  .icons {
    display: flex;
    width: 100%;
    gap: 20px;
    position: relative;
    justify-content: center;
    right: 6rem;
  }

  .main-icon {
    font-size: 1.9rem;
    color: black;
    transition: color 0.1s;
  }

  .github-container,
  .at-container,
  .linkedin-container {
    background-color: #c4c4c4;
    padding: 0.5rem;
    box-shadow: 2px 1px 5px 1.5px rgba(128, 128, 128, 0.37);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    transition: width 0.8s, height 0.8s, background-color 0.5s;
  }

  .github:hover,
  .linkedin:hover {
    width: 3.95rem;
    height: 3.5rem;
    background-color: black;

    .main-icon {
      color: white;
    }
  }

  .name {
    font-size: 3rem;
    margin: 1rem 0 0.5rem;
    line-height: 3rem;
  }

  .hi {
    font-size: 1.5rem;
  }

  .job-title {
    font-size: 1.1rem;
  }
}
