.navbar {
  background: black;
  font-family: Calibri;
  padding: 10px;
  height: 5vh;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.home-icon {
  color: white;
  margin-left: 3rem;
  font-size: 2rem;
}

li {
  list-style: none;
  display: inline-block;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 6.25rem;
}

/* li a {
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  margin-right: 6.25rem;
} */

.contact {
  background-color: white;

  border-radius: 3.438rem;
  padding: 0.625rem;
  width: 7.5rem;
  border: none;
  margin-right: 2rem;
  color: black;
  font-weight: bold;
  font-family: montserrat;
}

.home-icon {
  display: flex;
  justify-content: right;
}
/*
button a {
  color: black;
  font-weight: bold;
  font-family: montserrat;
} */

// .sidenav-container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

.sidenav-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  margin-bottom: 7vh;
}

.sidenav {
  width: 15rem;
  background-color: #c4c4c4;
}

.sidenav-content {
  height: 100vh;
  overflow-y: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  color: white;
}

.menu-button {
  display: none;
}

.nav-links {
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
}

.nav-ref {
  color: white !important;
  font-family: montserrat;
  font-size: 1.3rem;
  opacity: 0.7;
  font-weight: 400;
  transition: opacity 1s;
}

.nav-ref:hover {
  opacity: 1 !important;
}

.nav-ref:active {
  background-color: #c4c4c4;
}

@media (max-width: 768px) {
  .menu-button {
    display: inline-flex;
  }
  .nav-links {
    display: none;
  }

  mat-nav-list a[mat-list-item] {
    display: flex;
    align-items: center !important;
  }
}
