.hero-section {
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  background-color: #c4c4c4;
}

.right {
  width: 60%;
  clip-path: polygon(26% 0, 100% 0%, 100% 100%, 0 100%);
  background-color: black;
  height: 100%;
}

.main-content {
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  z-index: 60;
  max-width: 95rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  & img {
    position: relative;
    // left: 7rem;
    top: 1rem;
    height: auto;
    width: 40%;
  }
}

.hi {
  font-size: 2rem;
  font-family: raleway;
  font-weight: bold;
  margin-bottom: 3rem;
}

.name {
  font-family: raleway;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0.1rem;
  line-height: 4rem;
}

.job-title {
  font-family: raleway;
  font-size: 1rem;
  font-weight: 700;
  color: #686868;
}

.icons {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 4rem;
  // right: 27rem;
  font-size: 2rem;
  gap: 2rem;
  & a {
    color: black;
  }
}

.icon-container {
  background-color: #c4c4c4;
  padding: 0.5rem;
  box-shadow: 2px 1px 5px 1.5px rgba(128, 128, 128, 0.37);
  border-radius: 7px;
}

.read {
  background-color: #1d1d1d;
  position: relative;
  height: 30vh;
  overflow: hidden;
}

.content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  & img {
    position: relative;
    bottom: 1rem;
  }
}

.read-more {
  color: white;
  padding: 2rem;
  padding-left: 5rem;
  font-family: montserrat;
}

.read-more p {
  text-align: justify;
  font-weight: 300;
  margin-top: 1.5rem;
}

.read-more h3 {
  margin-top: 1.5rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  max-width: 12%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}
