/* #portfolio {
  margin-top: 6rem;
} */

$fs-400: 1rem;
$fs-500: 1.25rem;
$fs-xl: clamp(0.9rem, 2vw, 2rem);
$fs-w: clamp(13rem, 30vw, 25rem);
$fs-h: clamp(3rem, 10vw, 4.625rem);

.portfolio {
  font-family: montserrat;
  height: 93vh;
}

.background {
  background-image: url(../../../public/portback.png);
  height: 10.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 3rem; */
}

.portfolio-text h1 {
  letter-spacing: 0.6rem;
  border: 5px solid black;
  padding: 0.9rem;
  width: $fs-w;
  height: $fs-h;
  display: flex;
  font-size: $fs-xl;
  justify-content: center;
  align-items: center;
}

.lower-background {
  background-color: black;
  height: 44.875625rem;
  color: white;
  padding-top: 3rem;
}

::ng-deep .mat-mdc-tab-header {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-mdc-tab-label-container {
  max-width: 40rem;
}
